In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
#!wget -P ../data/ https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

In [24]:
df = pd.read_csv('../data/laptops.csv', encoding='latin-1')

In [25]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [26]:

df.columns = df.columns.str.lower().str.replace(' ', '_')

In [27]:
col_names = df.columns
col_names

Index(['laptop', 'status', 'brand', 'model', 'cpu', 'ram', 'storage',
       'storage_type', 'gpu', 'screen', 'touch', 'final_price'],
      dtype='object')

In [28]:
df.head()

,laptop,status,brand,model,cpu,ram,storage,storage_type,gpu,screen,touch,final_price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   laptop        2160 non-null   object
 1   status        2160 non-null   object
 2   brand         2160 non-null   object
 3   model         2160 non-null   object
 4   cpu           2160 non-null   object
 5   ram           2160 non-null   int64
 6   storage       2160 non-null   int64
 7   storage_type  2118 non-null   object
 8   gpu           789 non-null    object
 9   screen        2156 non-null   float64
 10  touch         2160 non-null   object
 11  final_price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

#### Q1. Pandas version

In [29]:
pd.__version__

'2.2.2'

### Q2. Records count

In [30]:
df.shape

(2160, 12)

### Q3. Laptop brands
How many laptop brands are presented in the dataset?

In [31]:
df.brand.nunique()

27

#### Q4. Missing values
How many columns in the dataset have missing values?

In [32]:
missing_value_count = df.isnull().sum()
columns_with_missing = missing_value_count[missing_value_count > 0]
print(f'Number of columns with missing values:{len(columns_with_missing)}')

Number of columns with missing values:3

### Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

In [33]:
df.brand.unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [34]:
max_price = df[df['brand'] == 'Dell']['final_price'].max()

print(f"The maximum final price of Dell notebooks is: {max_price}")

The maximum final price of Dell notebooks is: 3936.0

### Q6. Median value of Screen
<ol>
<li>Find the median value of Screen column in the dataset.
<li>Next, calculate the most frequent value of the same Screen column.
<li>Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
<li>Now, calculate the median value of Screen once again.
</ol>

Has it changed?

Hint: refer to existing mode and median functions to complete the task.

<li>Yes
<li>No

In [36]:
# find the median value of screen column in the datsaset
df['screen'].median()

15.6

In [37]:
# calculate the most frequent value in the screen column
df['screen'].mode()

0    15.6
Name: screen, dtype: float64

In [38]:
# use fillna to fill the missing values in the screen column with the most frequent value
df['screen'] = df['screen'].fillna(df['screen'].mode()[0])

In [42]:
# check if the missing values have been filled
df['screen'].isnull().sum()

0

In [44]:
# calculate the median value of the screen column
df['screen'].median(), df['screen'].mode()

(15.6,
 0    15.6
 Name: screen, dtype: float64)

### Q7. Sum of weights
<ol>
<li>Select all the "Innjoo" laptops from the dataset.
<li>Select only columns RAM, Storage, Screen.
<li>Get the underlying NumPy array. Let's call it X.
<li>Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
<li>Compute the inverse of XTX.
<li>Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
<li>Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
<li>What's the sum of all the elements of the result?
</ol>
<p>Note: You just implemented linear regression. We'll talk about it in the next lesson.

<li>0.43
<li>45.29
<li>45.58
<li>91.30

In [46]:
# Select all the "innjoo" laptops from the dataset
innjoo_laptops = df[df['brand'] == 'Innjoo']
innjoo_laptops

,laptop,status,brand,model,cpu,ram,storage,storage_type,gpu,screen,touch,final_price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [149]:
# Select only  columns ram,storage, screen
columns_name = ['ram','storage','screen']
df_new = innjoo_laptops[columns_name]
df_new.head()

      ram  storage  screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1

In [151]:
# Get the underlying NumPy array. Let's call it X
X = df_new.values

In [165]:
X.shape

(6, 3)

In [152]:
# Compute matrix-matrix multiplication between X and X. Let's call the result XTX
XTX = X.T @ X

In [153]:
from numpy.linalg import inv
#Compute the inverse of XTX.
XTX_inv = inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [154]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
y = np.array([1100, 1300, 800, 900, 1000, 1100])
y.shape

(6,)

In [155]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = (XTX_inv @ X.T) @ y

In [156]:
w

array([45.58076606,  0.42783519, 45.29127938])

In [167]:
# what is the sum of all the values of w?
w_sum =  np.sum(w)
w_sum.round(3)

91.3